APP_NAME=Koinonia
APP_ENV=development

POSTGRES_DB=koinonia
POSTGRES_USER=koinonia
POSTGRES_PASSWORD=koinonia

DATABASE_URL=postgresql+psycopg2://koinonia:koinonia@db:5432/koinonia
CORS_ORIGINS=*
UPLOAD_DIR=/app/uploads
